<div class="login-box">

  <div class="login-logo">
    <a href="/"><img src="/assets/img/logo_w.png" alt="Payame Logo"></a>
  </div>

  <div class="card">

    <div class="card-body login-card-body">

      <p class="login-box-msg">Ingresa a tu cuenta Payame</p>

      <form class="needs-validation" [formGroup]="form" (ngSubmit)="submit()">
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Email" formControlName="email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div *ngIf="inputEmail?.invalid && (inputEmail?.dirty || inputEmail?.touched)" class="invalid-feedback">
          <div *ngIf="inputEmail?.errors?.['required']">Email is required.</div>
          <div *ngIf="inputEmail?.errors?.['email']">Invalid email format.</div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" formControlName="password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
          <div *ngIf="inputPassword?.invalid && (inputPassword?.dirty || inputPassword?.touched)" class="invalid-feedback">
            <div *ngIf="inputPassword?.errors?.['required']">Password is required.</div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid">Ingresar</button>
          </div>
        </div>
      </form>

      <p class="my-2">
        <a href="/forgot">Olvidé mi contraseña</a>
      </p>
      <p class="mb-0">
        <a href="/register" class="text-center">Crear una nueva cuenta</a>
      </p>
    </div>
  </div>
</div>