<section id="about" class="about section">

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row align-items-xl-center gy-5">
      <div class="col-xl-8 mx-auto content">
        <h3>About Us</h3>
        <h2>Ducimus rerum libero reprehenderit cumque</h2>
        <p>Ipsa sint sit. Quis ducimus tempore dolores impedit et dolor cumque alias maxime. Enim reiciendis minus et
          rerum hic non. Dicta quas cum quia maiores iure. Quidem nulla qui assumenda incidunt voluptatem tempora
          deleniti soluta.</p>
        <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
      </div>
    </div>

    <div class="row align-items-xl-center gy-5">
      <div class="col-xl-12">
        <div class="row gy-4 icon-boxes">

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <i class="bi bi-buildings"></i>
              <h3>Análisis Inteligente</h3>
              <p>Obtén una visión clara de tus finanzas con nuestro análisis inteligente. Te ayudamos a tomar decisiones informadas sobre tus préstamos.</p>
            </div>
          </div>

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <i class="bi bi-lock-fill"></i>
              <h3>Plataforma Segura</h3>
              <p>Realiza tus seguimientos con total tranquilidad. Nuestra plataforma segura garantiza la confidencialidad y protección de tu información.</p>
            </div>
          </div>

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="400">
            <div class="icon-box">
              <i class="bi bi-command"></i>
              <h3>Historial de Transacciones</h3>
              <p>Accede a un historial detallado de todas tus transacciones.
                Visualiza tus pagos, desembolsos y el estado de tus préstamos de forma clara y sencilla.</p>
            </div>
          </div>

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <i class="bi bi-phone-vibrate-fill"></i>
              <h3>Recordatorios de pago</h3>
              <p>Mantén el control de tus cobros. Nuestra aplicación te envía notificaciones para que nunca pierdas una fecha límite.</p>
            </div>
          </div>

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="600">
            <div class="icon-box">
              <i class="bi bi-graph-up-arrow"></i>
              <h3>Simulador de Préstamos (pronto)</h3>
              <p>Sint et dolor voluptas minus possimus nostrum. Reiciendis commodi eligendi omnis quideme lorenda</p>
            </div>
          </div> <!-- End Icon Box -->

        </div>
      </div>

    </div>
  </div>

</section>
