<ng-container *ngIf="customer() as customer">

  <div class="card card-grid" *ngIf="display() === 'grid'">
    <img [src]="customer.avatar_url" class="avatar-img">
    <div class="card-body">
      <h5 class="card-title"><a [routerLink]="['/admin/customers', customerId(), 'view']">{{ customer.full_name }}</a></h5>
      <div class="card-text my-3">
        <div class="mt-2"><i class="fas fa-envelope mr-2"></i>{{ customer.email }}</div>
        <div class="mt-2"><i class="fas fa-phone mr-2"></i>{{ customer.telephone }}</div>
        <div class="mt-2"><i class="fas fa-map-marker-alt mr-2"></i>{{ customer.address }}</div>
      </div>
      <div class="card-actions">
        <button class="btn btn-sm btn-info mr-2">
          <i class="fas fa-edit"></i> Editar
        </button>
        <button class="btn btn-sm btn-danger">
          <i class="fas fa-trash"></i> Eliminar
        </button>
      </div>
    </div>
  </div>

  <div class="card card-list" *ngIf="display() === 'list'">
    <div class="row">
      <div class="col-md-2 p-2">
        <img [src]="customer.avatar_url" class="avatar-img">
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h6 class="card-title mb-2">
            <a [routerLink]="['/admin/customers', customerId(), 'view']">{{ customer.full_name }}</a>
          </h6>
          <div class="card-text">
            <div class="d-flex align-items-center mb-1 text-muted small">
              <i class="fas fa-envelope me-2"></i>{{ customer.email }}
            </div>
            <div class="d-flex align-items-center mb-1 text-muted small">
              <i class="fas fa-phone me-2"></i>{{ customer.telephone }}
            </div>
            <div class="d-flex align-items-center mb-1 text-muted small">
              <i class="fas fa-map-marker-alt me-2"></i>{{ customer.address }}
            </div>
          </div>
          <div class="mt-2">
            <button class="btn btn-sm btn-info mr-2">
              <i class="fas fa-edit"></i> Editar
            </button>
            <button class="btn btn-sm btn-danger">
              <i class="fas fa-trash"></i> Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-container>
